.container {
  width: 1140px;
  margin: 0 auto;
  background: white;
  height: 100vh;
  padding: 0 20px;
}
.project {
  border: 1px solid grey;
  padding:  10px;
  margin-top: 20px;
  &__title {
    padding-top: 10px;
    font-size: 70px;
    color: #505050;
  }
  &__content {
    margin-top: 20px;
    border-bottom: 2px solid gray;
    min-height: 100px;
    padding: 10px 20px;
    &_title {
      font-size: 30px;
    }
    &_description {
      font-size: 20px;
    }
  }

}
